@model IEnumerable<System_RPG_Prototyp.ITEM>
@{ ViewBag.Title = "Show"; }
<h2>Show</h2>
<table class="table">
    <tr> <th> @Html.DisplayNameFor(model => model.NAZWA) </th> <th> @Html.DisplayNameFor(model => model.WAGA) </th> <th></th> </tr>
    @foreach (var item in Model)
    {
        <tr> <td> @Html.DisplayFor(modelItem => item.NAZWA) </td> <td> @Html.DisplayFor(modelItem => item.WAGA) </td> </tr>
}
</table>